<div class="header-container clearfix">
	
	<div class="left-content">  <img src="../../assets/logo.png">   <span> NSB PUBLIC SCHOOL</span></div>

	<ul>
		<li> <a href="" routerLinkActive="active" [routerLink] = "['about']"> About Us </a>
        </li>
		<!-- <li> <a [routerLink]="['/login']"  *ngIf="!this.authService.currentRole">Login</a></li> -->
		<!-- <li> <a (click)="handleLogOut()" *ngIf="this.authService.currentRole">Logout</a></li> -->
		<li>  <a  [routerLink]="['contact']" routerLinkActive="active"> Contact </a></li>
		<li><a [routerLink]="['/fun']">Fun</a></li>
         <li> <a [routerLink]="['/students']">Admin
     	  </a></li>
		 <li> <a href="http://nsbpubliceducation-react.s3-website.us-east-2.amazonaws.com/admin">React Version</a></li>

	</ul>


</div>