p{
	font-size: 17px;
    font-family: Arial;
    text-align: center;
}


.about-us-header{
	font-weight:bold;
}


.about-cont img{

	     position: absolute !important;
	}

	.about-cont  p{

	  padding-left:200px;
	}


