<div>
   <student-details [studentDetails]="studentDetail" [currentStudentViewIndex]="currentSelectedIndex"> </student-details>
	Student  List 
	  <div>
      <div class="progress-cont"  *ngIf="isDataLoading">  <fa name="cog" animation="spin"  size="2x"></fa> </div>
		  <kendo-grid  *ngIf="!isDataLoading" [data]="studentList" [height]="410"  

       [selectable]="true" (selectionChange)="selectionChange($event)"
       [kendoGridSelectBy]="mySelectionKey">
		 	 <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="checkbox" (click)="handleDetails($event)" />
                </ng-template>
            </kendo-grid-column>
             <kendo-grid-column field="firstName" title="First Name"  >
            </kendo-grid-column>
            <kendo-grid-column field="standard" title="Standard" >
            </kendo-grid-column>

             <kendo-grid-column field="subject" title="Subject" >
            </kendo-grid-column>

             <kendo-grid-column field="rollNumber" title="Roll Number">
            </kendo-grid-column>

            <kendo-grid-column field="rating" title="Rating">
            </kendo-grid-column>
         
           
        </kendo-grid>
  </div>
</div>