<div>
	Student  List 
	 <button kendoButton type="button" [primary]="true"> add </button>

	<a [routerLink]="['/addStudent']"> Add Student</a>
    <a [routerLink]="['/editStudent']"> Edit Student</a>
	

	<div>

		 <kendo-grid [data]="(studentInfoData|async).studentList" [height]="410">
		 	 <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="checkbox" (click)="handleDetails()" />
                </ng-template>
            </kendo-grid-column>
            
            <kendo-grid-column field="name" title="ID" width="100">
            </kendo-grid-column>
            <kendo-grid-column field="standard" title="Name" width="75">
            </kendo-grid-column>
            <kendo-grid-column field="rating" title="Category">
            </kendo-grid-column>
         
           
        </kendo-grid>
  </div>
</div>