.square{
	    width: 100px;
    min-height: 50px;
}

ul{
	width: 300px;
}
ul li{
	list-style-type: none;
	float: left;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}



.game-cont{
	text-align: center;
	margin-bottom: 30px;
}