.container{
	padding: 20px 10px;
}





.left-content {
    float: left;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
}

ul{
    float: left;
    padding-top: 30px;
    width: 70%;
    box-sizing: border-box;
}