<div class="edit-student-cont" >

 <div class="example-wrapper">
         <kendo-dialog title="Student  Details(View/Edit)" *ngIf="opened" (close)="close('cancel')">
         
           <label> Name</label> <input type="text/submit/hidden/button/etc" name="" value="{{studentData.name}}" #studentName> <br>
		   <label>Rating</label> <input type="text/submit/hidden/button/etc" name="" value="{{studentData.rating}}"  #studentRating><br>
		   <label>Standard</label> <input type="text/submit/hidden/button/etc" name="" value="{{studentData.standard}}"  #studentStandard> <br>
           <kendo-dialog-actions>
                  <button kendoButton (click)="close('yes')">close</button>
                  <button kendoButton type="button" [primary]="true" (click)="addStudent(studentName,studentRating,studentStandard)"> save </button>
            </kendo-dialog-actions>
        </kendo-dialog>
      </div>
   
  
	
</div>