table {
	width: 100%;
	border: 1px solid green;
	margin: 20px 10px;
	padding: 10px 20px;
}
table th,table  td {
	padding: 5px 10px;
	border: 1px solid blue;
	border-collapse: collapse;
}
table  td{

}

table tr{
	padding: 5px 10px;
	border: 1px solid blue;
	border-collapse: collapse;
}